@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Space+Mono:700');

.center-wrapper {
	padding: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

.center-wrapper > * {
	flex-basis: calc(33.33% - 1rem); /* Adjust the width based on your preference */
	margin: 0.5rem;
}
.top-bar,
.bag,
.bag-total,
.help { padding: 0.5rem 1rem; }

.logo { font-family: "Space Mono", sans-serif; }

.logo,
button { text-transform: uppercase; }

.fa-search,
.fa-arrow-left,
.fa-lock { margin-right: 1rem; }

.top-bar,
.bag-head::after,
.bag-total::before { background: whitesmoke; }

.bag-head::after,
.bag-total::before,
.btn-remove { display: block; }

.bag-head::after,
.bag-total::before,
.description-text,
.promo-checkbox { margin: 0.5rem 0;
color:black}

.bag-head::after,
.bag-total::before {
	content: "";
	width: 100%;
	height: 3px; }

.muted { color: grey; }

.change-delivery,
::placeholder,
.product-code,
.help { font-size: 0.8rem; }

h1 { font-size: 1.6rem; }

h2 { font-size: 1.4rem; }

.image {
	width: 40%;}
 .product-image { max-width: 100%; }

.description {
	padding-right: 1rem;
	width: 60%; }

select {
	padding: 0.3rem;
	width: 60px; }

select,
button,
input[type="text"] { height: 40px; }

button {
	cursor: pointer;
	width: 100px;
	background: none;
	border: 2px solid lighten(rebeccapurple, 20%);
  border-radius: 4px; }

.quantity-wrapper {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	margin: 1rem 0 0.5rem; }

select {
	width: 50px;
	margin-right: 1rem; }

.bag-product,
.quantity-wrapper,
.subtotal,
.delivery,
.total,
.promo-code {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
	color:black;
 }

.subtotal,
.delivery,
input[type="checkbox"],
.help { margin-bottom: 0.5rem; }

.total { margin-bottom: 1rem; }

button,
.change-delivery { color: lighten(rebeccapurple, 20%); }

input[type="text"],
.btn-go-checkout { font-size: 1rem; }

input[type="text"] {
	width: calc(100% - 100px - 1rem);
	padding: 0.5rem; }

    input[type="number"]
    {
        width: 2%;
    }
.btn-go-checkout {
	margin-top: 1rem;
	height: 40px;
    width: 100%;
	background: lighten(rebeccapurple, 20%);
	box-shadow: 0 3px 6px 2px darken(whitesmoke, 10%); }
    .btn-go{
        margin-top: 1rem;
        height: 40px;
        background: lighten(rebeccapurple, 20%);
        box-shadow: 0 3px 6px 2px darken(whitesmoke, 10%); }
    
.help {	text-align: center; }
